.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px -2px black;
    width: 100%;
    position: fixed;
    top:0;
    z-index:1000;
    height:120px;
}

.nav-logo a,
.nav-logo a:hover,
.nav-logo a:visited,
.nav-logo a:active {
    display: flex;
    background: linear-gradient(90deg, #8c00ff, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 48px;
    font-weight: 1000;
    margin-left: 40px;
    text-decoration: none !important;
    padding-top: 24px;
}

.nav-menu{
    display:flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu li:hover{
    transform: translateY(-5px);
}

.nav-menu hr{
    border: none;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
    transition: width 0.3s ease-in-out;
    width:80%;
}

.login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
}


.nav-cart-count {
    width: 22px;
    height: 22px;
    display:flex;
    justity-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -10px;
    border-radius: 11px;
    font-size: 14px;
    background: #ff4141;
    color: white;
}